/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #202C45;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #202C45;
    transition: .3s;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #062847;
    outline: none;
    text-decoration: none;
    
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 90%;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #0796fe;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #092a49;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #092a49;
}

.back-to-top:hover i {
    color: #0796fe;
}

@media (min-width: 992px) {
    .mt-125 {
        margin-top: 125px;
    }
}


/****************************************** Nav Bar CSS *****************************************/

.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
    background-color: #062847;
}
#Nav-Bar{
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
    background-color: #062847;
    background: rgb(9 42 73 / 50%)!important;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #062847;
}

.navbar .navbar-brand {
    margin: 0;
    left: 200p;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 200;
    text-transform: uppercase;
    
}

#Nav-Bar #navbarCollapse a{
    
font-weight: 600;
    
font-size: 15px;
    
box-sizing: border-box;
    
display: inline-block;
    
line-height: 44px;
    
float: left;
    
padding: 0 15px;
    
color: #fff;
    
font-weight: 600;
    
transition: ease-out 0.5s;
    
-webkit-transition: ease-out 0.5s;
    
-moz-transition: ease-out 0.5s;
}

#Nav-Bar #navbarCollapse #post-ad a{
    color: #000;
}

.navbar-brand #donation.lk{
    position: absolute;
    margin: 0;
    padding-right: 5000px;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}
.navbar-nav .nav-item .nav-link a{
    color: #000000;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,

{
    padding: 10px 10px 8px 10px;
    
    text-align: inline;
    color: #ffffff ;
}
.navbar-dark .navbar-nav button #post-ad {
    position: absolute;
    padding: 100px;
}

#navbarCollapse {
    
display: inline-block!important;
}
.navbar-nav{
    /* padding-left: 372px; */
    float: right;
    display: inline-block;
    margin: 0;
    /* width: 100%; */
    margin-right: unset!important;
    margin-left: unset!important;
    position: relative;
}
.navbar-nav li {
    
display: inline-block;
    
float: left;
}

.navbar-nav li:hover a {color: #0796fe!important;font-weight: 600!important;}
.navbar-nav li a {
    
}
#post-ad{
    padding-top: 0px ;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #3F69AA;
    transition: none;
    
}
#post-ad {
    padding: 10px 30px 12px 30px;
    text-align: center; 
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #E81C2E;
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    z-index: 9999;
}

#post-ad:hover {
    color: #E81C2E;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
    z-index: 9999;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 35px;
        padding: 20px 0;
        background: rgba(9, 42, 73, .2)!important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #3F69AA !important;
    }
    
    .page .navbar {
        background: #3F69AA !important;
    }
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #3F69AA !important;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}

@media (max-width: 991px) {
 
 #navbarCollapse {
     display: none!important;
     position: absolute;
     max-width: 300px;
     width: 100%;
     right: 0;
     top: 55px;
     background: rgb(9 42 73 / 50%)!important;
 }

  #navbarCollapse.show {
     display: inline-block!important;
 }

 .navbar .container{
     position:relative;
 }


  #navbarCollapse .navbar-nav {
    padding: 0 20px;
}

  #navbarCollapse .navbar-nav li{  
    width: 100%;
    border-bottom: 1px solid #ffffff0d;   
    padding: 5px 0;
 }

  #navbarCollapse .navbar-nav li a { 
    padding: 0 15px!important; 
    line-height: 34px!important;
 }

 #navbarCollapse .navbar-nav li:last-child {
     border-bottom:0;
 }
 
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {

    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.about .section-header {
    padding-top: 120px;
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about .about-content {
    margin-bottom: 30px;
}

.about .about-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}

.about .about-content ul li {
    margin-bottom: 5px;
}

.about .about-content ul li i {
    margin-right: 8px;
    color: #E81C2E;
}

/***************************************** About Us CSS 2222*****************************************/

#about {
    position: relative;
    padding: 50px 0 0 0;
    margin-bottom: -30px;
}

#about .row {
    margin-bottom: 80px;
}
#about .welcome {
    max-width: 900px;
    text-align: center;
}

#about .welcome h2 {
    color: #3F69AA;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 0px;
}

#about .container-fluid .section-header h2 {
    position: relative;
    color: #305183;
    font-size: 35px;
    font-weight: 700;
    padding-top: 0px;
    text-align: center;

}

#about .container-fluid .section-header h2:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 4px;
    bottom: -5px;
    left: calc(050% - 025px);
    background: #3F69AA;
}

#about .welcome p {
    font-size: 18px;
    font-weight: 400;
}

#about .welcome a {
    padding: 6px 25px;
    font-weight: 600;
    color: #3F69AA;
    letter-spacing: 1px;
    background: #ffffff;
    border: 2px solid #3F69AA;
    border-radius: 50px;
}

#about .welcome a:hover {
    color: #ffffff;
    background: #3F69AA;
}

#about .about-col {
    height: inherit;
    background: #305183;
}

#about .about-col:nth-child(2) {
    background: #0d1e42;
}

#about .about-content {
    position: relative;
    width: 100%;
    padding: 30px;
    text-align: center;
}

#about .about-content i {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 20px;
}

#about .about-content h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

#about .about-content p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}


/**Teams**/

.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
    margin: unset;
}

#all-item{
    padding-left: px;
    margin-left: 0px;
}

.team .team-item {
    position: relative;
    width: 210px;
    margin-bottom: 30px;
    
}

.team .team-img {
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.team .team-img img {
    width: 100%;
    transition: .3s;
}

.team .team-item:hover img {
    transform: scale(1.1);
}

.team .team-text {
    position: relative;
    width: 100%;
    padding: 35px 30px 30px 30px;
    text-align: center;
    background: #202C45;
    border-radius: 0 0 5px 5px;
    transition: .5s;
}

.team .team-item:hover .team-text {
    background: 
}

.team .team-text h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.team .team-text p {
    margin: 0;
    color: #ffffff;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 40px;
    top: -20px;
    left: 0;
    text-align: center;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    padding: 7px 0;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background: #202C45;
    border-radius: 40px;
    transition: .5s;
}

.team .team-item:hover .team-social a {
    background: #096ec0;
    color: #ffffff;
}

.team .team-social a:hover {
    color: #202C45;
}

/**************************************** Footer CSS *****************************************/

.footer {
    position: relative;
    margin-top: 30px;
    padding-top: 50px;
    background: #092a49;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #096ec0;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #0796fe;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
    color: #ffffff;
}
.footer-contact p a {
    color: #ffffff;
}

.footer .footer-contact a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-contact a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-contact a:hover {
    color: #0796fe;
    letter-spacing: 1px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #092a49;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #999999;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    border: 2px solid #1d2434;
    border-radius: 50px;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #3F69AA; 
    border-radius: 50px;
    border: 2px solid #3F69AA;
    transition: .3s;
}

.footer .footer-newsletter .btn:hover {
    color: #ffffff;
    background: #3F69AA;
}

.footer .copyright {
    padding: 0 10px;
}

.footer .copyright .row {
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright p {
    margin: 0;
    color: #999999;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
}

.footer .container  {
    position: relative;
}

.footer .container img {
    margin-top: 0px;
    /* padding-left: 108px; */
    height: 30px;
    cursor: pointer;
    float: right;
}

.footer .copyright p a:hover {
    color: #0796fe;
}

@media (max-width: 767px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }

    .footer .container img {
        
float: unset;
        
margin: 0 auto;
        
display: block;
        
margin-top: 8px;
    }
}
 
