@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(tree.jpg) no-repeat;
	background-size: cover;
	height: 50vh;
	width: 100%;
	position: absolute;
	font-family: sans-serif;
}

.middle{
    position: absolute;
	top: 80px;
    padding: 50px;
	color: white;
	font-size: 50px;
	font-weight: 100;
	

}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: black;
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}
.boxes{
	position: absolute;
	top: 50vh;
	width: 80%;
	height: 50vh;
	padding-left: 400px;
	
}
.box{
 	display: inline-block;
	width: 47%;
	background-color: rgba(8, 171, 221, 0.945);
	margin: 1%;
	height: 30vh;
	overflow: hidden;
    
} 

.box8{
 	display: inline-block;
	width: 96.5%;
	background-color: rgba(8, 171, 221, 0.945);
	margin: 1%;
	height: 30vh;
	overflow: hidden;
    
}
.box9{
 	display: inline-block;
	width: 96.5%;
	background-color: rgba(8, 171, 221, 0.945);
	margin: 1%;
	height: 30vh;
	overflow: hidden;
    
}
.center{
	font-family: sans-serif;
	color: rgb(97, 91, 91);
	font-size: 30px;
	font-weight: bold;
}
.center h3{
	color: Black;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.center p{
	text-align: center;
	color: white;
	font-family: arial;
	font-size: 20px;
}
